In [1]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [3]:
df=pd.read_excel('F:\DATA ANALYST\RBD.xlsx')
df

   SYSTEM A  SYSTEM B  SYSTEM C
0        15        15        18
1        14        14        14
2        10        11        15
3        13        12        17
4        16        13        16
5        13        13        13

In [5]:
data_new=pd.melt(df.reset_index(),id_vars=['index'],value_vars=['SYSTEM A','SYSTEM B','SYSTEM C'])
data_new.columns=['Index','Treatment','Value']

In [6]:
model=ols('Value ~ C(Treatment)',data=data_new).fit()
anova_table=sm.stats.anova_lm(model,type=1)
anova_table

                df  sum_sq    mean_sq         F    PR(>F)
C(Treatment)   2.0    21.0  10.500000  3.214286  0.068903
Residual      15.0    49.0   3.266667       NaN       NaN